body {
    text-align: center;
    background: #fafafa;
    font-family: Gill Sans, sans-serif;
}

#container {
    padding: 50px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#display-area {
    margin: 15px 0;
}

.hidden {
    display: none;
}